.validator-card{
    max-width: 300px;
}
.validator-card {
    background: #282828;
border: 2px solid #282828;
border-radius: 5px;
padding: 1rem;
}

.validator-card .card-details {
    margin-left: 10px;
}


.val-active {
    border: 2px solid #D35100;
    
}
.validator-card:hover{
    border: 2px solid #D35100;
    cursor: pointer;
}

.validator-selection-pane .button-container, .validator-selection-pane .validators, .validator-selection-pane input {
    z-index: 3;
} 

.validator-selection-pane .validators {
    max-height: 41vh;
    overflow-y: auto;
    width: 90%;
}

.max-button {
    background: #4D4D4D;
    border:1px solid white; 
    color: #fff;
    z-index:3;
    padding-left:10px; 
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;  
}


.next-button:disabled {
    background: #D87D44;
    border: #D87D44;
}

.search {
    border-radius: 5px;
    width: 275px;
    padding: 5px;
    height: 45px;
    background: none;
    border: 1px solid white;
    color: white;
    
}

.search:hover, .search:focus, .search:focus-visible {
    border: 1px solid #D35100;
    outline: none!important;
}
.choose-heading {
    margin-left: 0px;
}

::placeholder {
    color: white;
  }

  button {
    z-index: 999;
  }

  .rc-switch-checked {
    border: 1px solid #D35100 !important;
    background-color: #D35100 !important;
  }

  .container-options {
    width: 90%;
  }

  .active-val {
    background: #24925D;
    width: 70px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
  }

  .inactive-val {
    background: #DF0808;
    width: 80px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
  }