.allocation-pane .button-containers {
    z-index: 3;
    margin-bottom: 75px;
}

.allocation-pane .staking-pane {
    z-index: 3;
    align-items: center;
    border-radius: 5px;
    width: 80%;
    padding: 20px;
    background: #282828;
    justify-content: center;
}

.allocation-pane input[type=number] {
    width: 100px;
}

.allocation-message {
    padding-left: 100px;
    padding-right: 100px;
}

.percentages {
    height: 36px;
}