.connect-wallet-pane {
    height: 100%;
    color: #fff;

}

.connect-wallet-pane .sub-heading {
    margin-top: 150px;
}

.connect-wallet-pane .connect-wallet-button {
    width: 415px;
    height: 60px;
    background: #D35100;
    border-radius: 20px;
    font-style: normal;
font-weight: 400;
font-size: 28px;
color: #FFFFFF;
border:none;
z-index:3;
}

.connect-wallet-pane .connect-wallet-button img {
    height: 30px;
}

.connect-wallet-pane .connect-wallet-button:hover {

    color: #D35100;

background: #FFFFFF;

}

.connect-wallet-pane .connect-wallet-button img:hover {
    color: #D35100;
}