.connect-wallet-pane {
    /* height: 100%; */
    color: #fff;

}

.connect-wallet-pane .sub-heading {
    margin-top: 50px;
}

.connect-wallet-pane .connect-wallet-button {
    width: 415px;
    height: 60px;
    background: #D35100;
    border-radius: 5px;
    font-style: normal;
font-weight: 400;
font-size: 28px;
color: #FFFFFF;
border:none;
z-index:3;
}

.connect-wallet-pane .connect-wallet-button img {
    height: 30px;
}

.connect-wallet-pane .connect-wallet-button:hover {

    color: #D35100;

background: #FFFFFF;

}

.connect-wallet-pane .connect-wallet-button img:hover {
    color: #D35100;
}

.network-card {
    background: #282828;
    border: 2px solid #282828;
    border-radius: 5px;
    padding: 1rem;
}

/* .connect-wallet-pane img {
    padding-left: 16px;
} */

.connect-wallet-pane h5 {
    margin-bottom: 0;
}

.connect-wallet-pane .networks {
    z-index: 3;
}

.connect-wallet-pane .network-image{
    height: 75px;
    padding-left: 16px;;
}

.connect-wallet-pane  .network-card:hover {
    cursor: pointer;
    border: 2px solid #D35100;
}
