.wallet-details {
    align-items: center;
    border-radius: 30px;
    width: 60%;
    padding: 20px;
    background: #282828;
    justify-content: center;
    z-index: 4;
}

.wallet-content {
    width: 100%;
    justify-content: center;

}

.dropdown a, .dropdown-menu  {
 width: 70%;
}

.font-bold {
    font-weight: 700;
}

.prev-button {
    background: none;
    border:none;
border-radius: 10px;
font-weight: 400;
font-size: 18px;
color: #D35100;
padding: 5px 20px;
}



.stake-liquid-atoms-button, .stake-existing-delegations-button, .next-button {
background: #D35100;
border-radius: 10px;
font-size: 18px;
line-height: 30px;
font-weight: 400;
color: #FFFFFF;
border: 2px solid #D35100;

}

.stake-liquid-atoms-button, .stake-existing-delegations-button {
    width: 200px;
}

.next-button {
    width: 109px;
    height: 36px;
}
.stake-existing-delegations-button:disabled,  .stake-liquid-atoms-button:disabled{
    background: #D87D44;
    border: #D87D44;
  }

.network-selection-pane .button-container {
      z-index: 3;
  }

  .network-selection-pane .custom-class {
    z-index: 5;
      color: rgba(0,0,0,0.7);
  }


 
  .copy-button {
    background: #D35100;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 5px 10px;
    border: none

}



.custom-class.mb-3.mt-2.css-b62m3t-container {
    margin: 0 !important;
    width: 200px;
}

.wallet-details {
    z-index: 1;
}


.disable-msg{
    left: 20%;
    position: fixed;
    bottom: 50px;
    width: 80%;
}