

.content {
    background: #1A1A1A;
    color: #fff;
    margin-top:58px !important;
    width: 85% !important;
}

.stepper {
    background: #282828 !important;
    margin-top: 58px !important;
    width: 15% !important;

}

.stepper .line {
    width: 1px;
    background-color: #fff !important;
    height: 45px !important;
  }

  .stepper .step {
      margin-left: 0.5rem;
  }

  .logo {
      height: 30px;
  }

  .step-text-bold {
      font-size: 14px;
      color: #fff;
      font-weight: 700;
  }

  .step-text-gray {
      font-size: 14px;
      color: #ADADAD;
      font-weight: 500;
  }

  .staking-interface .social-media-icons {
    position: fixed;
    bottom: 10%;
    margin-left: -12px;
    text-align: center;
  }
  
  .staking-interface {
    /* min-height: calc(100vh-76px) !important; */
    min-height: 99vh !important;
  }

  .link {
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
text-decoration: none;
color: #FFFFFF;
  }

  .stake-options .active-link {
    text-decoration: underline;
  }

  .link:hover {
color: #D35100 !important;
cursor: pointer;
  }

  .stake-options .active-link,   .stake-options .link {
    z-index: 3
  }

  .unbonding-message {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #D35100;
    width: 100vw;
    margin-bottom: 0 !important;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    z-index: 20;

} 

.steps-container {
  position: fixed;
}