

.content {
    background: #1A1A1A;
    color: #fff;
    margin-top:58px !important;
}

.stepper {
    background: none;
    margin-top: 28px !important;
    width: 50% !important;

}

.stepper .line {
    width: 1px;
    background-color: #fff !important;
    height: 45px !important;
  }

  .stepper .step {
      margin-left: 0.5rem;
  }

  .logo {
      height: 30px;
  }

  .step-text-bold {
      font-size: 14px;
      color: #fff;
      font-weight: 700;
  }

  .step-text-gray {
      font-size: 14px;
      color: #ADADAD;
      font-weight: 500;
  }

  .staking-interface .social-media-icons {
    position: fixed;
    bottom: 10%;
    margin-left: -12px;
    text-align: center;
  }
  
  .staking-interface {
    /* min-height: calc(100vh-76px) !important; */
    min-height: 99vh !important;
  }

  .link {
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
text-decoration: none;
color: #FFFFFF;
  }

  .stake-options .active-link {
    text-decoration: underline;
  }

  .link:hover {
color: #D35100 !important;
cursor: pointer;
  }

  .stake-options .active-link,   .stake-options .link {
    z-index: 3
  }

  .unbonding-message {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #D35100;
    width: 100vw;
    margin-bottom: 0 !important;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    z-index: 20;

} 

.steps-container {
  position: fixed;
}

.md-stepper-horizontal {
	display:table;
	width:100%;
	margin:0 auto;
	box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
}
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:#F96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
/* 
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
} */
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}