.stake-button {
    background: #D35100;
    border-radius: 10px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 5px 20px;
    border: 2px solid #D35100;
    z-index: 3;
    }
    
    .stake-button:disabled {
        background: #D87D44;
        border: #D87D44;
    }
    
    .spinner svg {
        color: #D35100 !important;
    }