.stake-button {
    background: #D35100;
    border-radius: 10px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #FFFFFF;
    border: 2px solid #D35100;
    z-index: 3;
    height: 36px;
    width: 150px;
    }
    
    .stake-button:disabled {
        background: #D87D44;
        border: #D87D44;
    }
    
    .spinner svg {
        color: #D35100 !important;
    }

    .line {
        color: white;
    width: 400px;
    opacity: 1;
    }