.coming-soon {
color: #D35100;
font-size: 24px;
}

.airdrop-text {
    line-height: 1.5;
}

.input-box {
    height: 36px;
    width: 350px;
}

.airdrop-container ::placeholder {
    color: black !important;
  }

  .airdrop-container {
    z-index: 3;
  }

  .airdrop-heading {
    color :#D35100
  }