.assets-interface {
    background: #1A1A1A;
    color: #fff;
    padding-top:58px !important;
    min-height: 99vh !important;
}

h2 {
    margin-left: 1rem;
  }
  
  .participation-rewards {
    background: #282828;
    padding: 1rem;
    border-radius: 5px;
    
  }
  
  h3 {
    padding: 0;
  }
  
  .assets-interface button {
    
  background: #D35100;
  border: 1px solid #D35100;
  border-radius: 5px;
    padding: 0.5rem;
    font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  }

  .asset-card {

        background: #282828;
    border: 2px solid #282828;
    border-radius: 5px;
    padding: 1rem;
    
  }