.assets-interface {
    background: #1A1A1A;
    color: #fff;
    padding-top:58px !important;
    min-height: 99vh !important;
}

h2 {
    margin-left: 1rem;
  }
  
  .participation-rewards {
    background: #282828;
    padding: 1rem;
    border-radius: 5px;
    
  }
  
  h3 {
    padding: 0;
  }
  
  .assets-interface .claim-button {
    
  background: #6D6D6D;
  border: 1px solid #6D6D6D;
  border-radius: 5px;
    font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  margin: 0 auto;
  height: 36px;
  width: 150px;
  }

  .asset-card {

        background: #282828;
    border: 2px solid #282828;
    border-radius: 5px;
    padding: 1rem;
    
  }

  img {
    height:50px;
  }

  .amount {
    color: #D35100;
    font-weight: bold; 
  }

  .redemption-rate {
    font-size: 14px;
    font-style: italic;
  }

  .tooltip1:hover span {
    opacity: 1;
    filter: alpha(opacity=100);
    top: -6em;
    left: 20em;
    z-index: 99;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    }
    
    .box b {
      color: #fff;
    }
    
    .tooltip1 span {
      background: none repeat scroll 0 0 #222; /*-- some basic styling */
      color: #F0B015;
      font-family: 'Helvetica';
      font-size: 0.8em;
      font-weight: normal;
      line-height: 1.5em;
      padding: 16px 15px;
      width: 240px;
      top: -4em;  /*-- this is the original position of the tooltip when it's hidden */
      left: 20em;
      margin-left: 0;	
      /*-- set opacity to 0 otherwise our animations won't work */
      opacity: 0;
      filter: alpha(opacity=0);  	
      position: absolute;
      text-align: center;	
      z-index: 2;
      text-transform: none;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease-in-out;
    }
    
    .tooltip1 span:after {
      border-color: #222 rgba(0, 0, 0, 0);
      border-style: solid;
      border-width: 15px 15px 0;
      bottom: -15px;
      content: "";
      display: block;
      left: 31px;
      position: absolute;
      width: 0;
    }