.assets-interface {
    background: #1A1A1A;
    color: #fff;
    padding-top:58px !important;
    min-height: 99vh !important;
}

h2 {
    margin-left: 1rem;
  }
  
  .participation-rewards {
    background: #282828;
    padding: 1rem;
    border-radius: 5px;
    
  }
  
  h3 {
    padding: 0;
  }
  
  .assets-interface .claim-button {
    
  background: #6D6D6D;
  border: 1px solid #6D6D6D;
  border-radius: 5px;
    font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  margin: 0 auto;
  height: 36px;
  width: 150px;
  }

  .asset-card {

        background: #282828;
    border: 2px solid #282828;
    border-radius: 5px;
    padding: 1rem;
    z-index: 2;
  }


  .asset-card:hover {
    z-index: 3;
  }
  img {
    height:75px;
  }

  .amount {
    color: #D35100;
    font-weight: bold; 
  }

  .redemption-rate {
    font-size: 14px;
    font-style: italic;
  }

  .question{
    height: 25px;
  }

  .question:hover {
    cursor: pointer;
  }

 .pool-text {
  font-size: 14px;
text-decoration: none;
color: #D35100
 }

 .pool-text:hover {
  cursor: pointer;
  color: #D35100;
 }

 .pool {
height:12px;
margin-top: -2px;
 }

 .quicksilver-bal {
  font-size: 12px;
  color: #898989;
 }

 .asset-detail {
  z-index: 4;
 }