.navbar .logo {
    height: 50px;
    margin-left: 1.5rem;
}

.navbar {
    background: #1A1A1A;
    position: fixed !important;
    width:100vw !important;
    z-index: 4;
}

.navbar-nav .nav-item a {
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
text-decoration: none;
color: #FFFFFF;
}

.navbar .connect-wallet, .navbar .connect-wallet-button {
background: #D35100;
border-radius: 10px;
font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 16px;
color: #FFFFFF;
min-width: 200px;   
order:2;
}


.navbar .connect-wallet-button:hover{
    color: #D35100;
    background: #FFFFFF;
    }

.navbar .connect-wallet img {
    height: 20px;
}

.active-link {
   color: #D35100 !important;
   font-weight: 700 !important;
}

.navbar .navbar-logo {
    background: #333333;
}


.navbar .nav-icon-stake {
    height: 30px;
    margin-right:1px;
}

.navbar .stake-white {
    height: 30px;
    margin-right:1px;
    filter: invert(0.5);
    
}

.asset-white {
    filter: invert(0.5);
    height: 20px;
    padding-right: 5px;
}

.nav-icon-asset {
    height: 20px;
    padding-right: 5px;
}
.navbar .nav-icon-pools {
    height: 17px;
    margin-right:2px;
}

.navbar .nav-icon-airdrop {
    height: 17px;
    margin-right:5px;
}

.airdrop-white {
    height: 17px; 
    filter: invert(0.5);
    margin-right:5px;
}
/* 
Dropdown styles */
.css-1s2u09g-control {
    background-color: transparent !important;
    border: 0 !important;
    /* border-bottom: 1px solid white !important; */
}

.css-cvavs1-control {
    border-color: #D35100 !important;
    box-shadow: none !important;
    border: 0 !important;
    /* border-bottom: 1px solid white !important; */
}
.css-cvavs1-control:hover {
    border-color: #D35100 !important;
    box-shadow: none !important;
    border: 0 !important;
    border-bottom: 1px solid white !important;
}

.css-qc6sy-singleValue{
color: white !important;
text-transform: uppercase !important;
}

.navbar .connect-wallet:hover {
    background: #D35100;
    color: #fff;
    border: 1px solid #D35100;
    }

    custom-class.mb-3.mt-2.css-b62m3t-container {
        margin: 0 !important;
        min-width: 200px !important;
    }
    
    .network-option {
        display: flex;
        align-items: center;
    }
    .network-logo {
        height: 30px;
    }
   .css-cvavs1-control {
        background-color: #282828 !important;
    }
    /* .css-tnaca8-control {
        border: 0 !important;
        border-bottom: 1px solid white !important;
    } */
.css-tnaca8-control {
    background-color: #282828 !important;
    border: none !important;
}

.css-cvavs1-control:hover {
    box-shadow: none !important;
    border: 0 !important;
    background-color: #282828 !important;

}

  #react-select-2-listbox {
        z-index: 5 !important;
    }

    .quicksilver-text {
        color: #fff;
        font-family: 'Nexa';
        letter-spacing: 4px;
    }

    .navbar  .governance {
        height: 30px;
    }