/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */


@font-face {
  font-family: 'Nexa';
  src: local('Nexa'), url(../fonts/Nexa-Trial-Regular.otf) format('opentype');
}

.logo-stroke {

  height: 70vh;

}

.logo-home {
  left: 25%;
}

.logo-others {
  left: 40%;
}

.img-logo {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-message, .mobile-message-landing {
  display: none;
}

@media (max-width: 1279.98px) { 
  .navbar .navbar-logo {
    background:#1A1A1A;

  }
  .img-logo {
    display: none;
  }

  .unbonding-message, .staking-interface, .navbar ul, .navbar .connect-wallet-button, .landing-page, .connect-wallet, .navbar .custom-class,  .assets-interface {
    display: none !important;

  }

  .mobile-message {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
    position: absolute;
    min-height: calc(100vh - 58px);
    background:#1A1A1A;
    width: 100vw;
  }
  
  .mobile-message-landing {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-height: 100vh;
    background:#1A1A1A;
    width: 100vw;
  }
  .mobile-message h4, .mobile-message-landing h4 {
    color: #fff;
  }
 }

 .staking-interface, .assets-interface {
  font-family: Mulish;
 }