@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Mulish', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
	font-family:'icomoon';
  src: url('../src/fonts/icomoon.eot');
	src:url('../src/fonts/icomoon.eot');
	src:url('../src/fonts/icomoon.eot#iefix') format('embedded-opentype'),
		url('../src/fonts/icomoon.woff') format('woff'),
		url('../src/fonts/icomoon.ttf') format('truetype'),
		url('../src/fonts/icomoon.svg#fontello') format('svg');
	font-weight:normal;
	font-style:normal;
	font-display: swap;
}
[class^="icon-"] {
	display:-webkit-inline-box;
	display:-webkit-inline-flex;
	display:-moz-inline-box;
	display:-ms-inline-flexbox;
	display:inline-flex;
	-webkit-box-align:center;
	-webkit-align-items:center;
	   -moz-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	height:1em;
}
[class^="icon-"]:before {
	font-family:"icomoon" !important;
	font-style:normal;
	font-weight:normal;
	speak:never;
	display:inline-block;
	text-decoration:inherit;
	text-shadow:none !important;
	font-variant:normal;
	text-transform:none;
	font-size:inherit;
	line-height:inherit;
	color:inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/********** ICONS **********/

.icon-attach:before {
content: "\e912";
}
.icon-blank:before {
content: "\e913";
}
.icon-clipboard:before {
content: "\e914";
}
.icon-clock:before {
content: "\e915";
}
.icon-close:before {
content: "\e916";
}
.icon-comment:before {
content: "\e917";
}
.icon-down:before {
content: "\e918";
}
.icon-download:before {
content: "\e919";
}
.icon-favorite-alt:before {
content: "\e91a";
}
.icon-file:before {
content: "\e91b";
}
.icon-filters:before {
content: "\e91c";
}
.icon-heart-alt:before {
content: "\e91d";
}
.icon-left:before {
content: "\e91e";
}
.icon-less:before {
content: "\e91f";
}
.icon-mail:before {
content: "\e920";
}
.icon-more:before {
content: "\e921";
}
.icon-notification:before {
content: "\e922";
}
.icon-parameters:before {
content: "\e923";
}
.icon-print:before {
content: "\e924";
}
.icon-refresh:before {
content: "\e925";
}
.icon-right:before {
content: "\e926";
}
.icon-search:before {
content: "\e927";
}
.icon-share:before {
content: "\e928";
}
.icon-tag:before {
content: "\e929";
}
.icon-trash:before {
content: "\e92a";
}
.icon-up:before {
content: "\e92b";
}
.icon-airdrop:before {
content: "\e900";
}
.icon-community:before {
content: "\e901";
}
.icon-decentralized:before {
content: "\e902";
}
.icon-discord:before {
content: "\e903";
}
.icon-entrance:before {
content: "\e904";
}
.icon-fees:before {
content: "\e905";
}
.icon-fungible:before {
content: "\e906";
}
.icon-github:before {
content: "\e907";
}
.icon-governance:before {
content: "\e908";
}
.icon-lightbulb:before {
content: "\e909";
}
.icon-protection:before {
content: "\e90a";
}
.icon-puzzle:before {
content: "\e90b";
}
.icon-quicksilver:before {
content: "\e90c";
}
.icon-risks:before {
content: "\e90d";
}
.icon-rocket:before {
content: "\e90e";
}
.icon-speed:before {
content: "\e90f";
}
.icon-telegram:before {
content: "\e910";
}
.icon-twitter:before {
content: "\e911";
}
.icon-medium:before {
content: "\e912";
}